@*@using Marcus.Umbraco.Model
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Schema>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;*@

<script src="/js/schema.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <div data-toggle="modal" data-target="#user-form-modal" id="modal-controller"></div>
    <div class="container">
      <div class="row flex-lg-nowrap">
        <div class="col">
          <div class="e-tabs mb-3 px-3">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Employees</a>
              </li>
            </ul>
          </div>
          <div class="row flex-lg-nowrap">
            <div class="col mb-3">
              <div class="e-panel card">
                <div class="card-body">
                  <div class="card-title">
                    <h6 class="mr-2">
                      <span>Users</span
                      ><small class="px-1">Be a wise leader</small>
                    </h6>
                  </div>
                  <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Full Name</th>
                            <th class="max-width">Email</th>
                            <th class="sortable">Date Of Birth</th>
                            <th>Age</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody id="employee-list">
                               @*@{
                                var selection = Umbraco.ContentAtXPath("//employee").Where(x => x.IsVisible());
                                }
                            	@foreach (var item in selection)
                            	{
                                                    EmployeeModel employee = new EmployeeModel
                                                    {
                                                         Id = item.Id,
                                                         ContentName = item.Name,
                                                         FullName = item.Value<string>("fullName"),
                                                         Email = item.Value<string>("email"),
                                                         DateOfBirth = item.Value<DateTime>("dateOfBirth"),
                                                         Age = item.Value<int>("age")
                                                    };
                                                    <tr id="@employee.Id">
                                                        <td class="align-middle">
                                                             <div class="bg-light d-inline-flex align-items-center align-top"
                                                                  style="width: 100%; height: 35px; border-radius: 3px">@employee.FullName</div>
                                                        </td>
                                                        <td class="text-nowrap align-middle">@employee.Email</td>
                                                        <td class="text-nowrap align-middle">
                                                            <span>@employee.DateOfBirth.ToString("MM/dd/yyyy")</span>
                                                        </td>
                                                        <td class="text-center align-middle"><span>@employee.Age</span></td>
                                                        <td class="text-center align-middle">
                                                            <div class="btn-group align-top">
                                                                <button class="btn btn-sm btn-outline-secondary badge"
                                                                    type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#user-form-modal"
                                                                    onclick="onClickEditEmployee('@employee.Id','@employee.FullName','@employee.Email','@employee.DateOfBirth.ToString("s")','@employee.Age')">
                                                                    Edit
                                                                </button>
                                                                <button class="btn btn-sm btn-outline-secondary badge" onclick="deleteEmployee('@employee.Id')" type="button">
                                                                        <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                            	}*@
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-center">
                      <ul class="pagination mt-3 mb-0">
                        <li class="disabled page-item">
                          <a href="#" class="page-link">‹</a>
                        </li>
                        <li class="active page-item">
                          <a href="#" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                          <a href="#" class="page-link">2</a>
                        </li>
                        <li class="page-item">
                          <a href="#" class="page-link">3</a>
                        </li>
                        <li class="page-item">
                          <a href="#" class="page-link">4</a>
                        </li>
                        <li class="page-item">
                          <a href="#" class="page-link">5</a>
                        </li>
                        <li class="page-item">
                          <a href="#" class="page-link">›</a>
                        </li>
                        <li class="page-item">
                          <a href="#" class="page-link">»</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="text-center px-xl-3">
                    <button onclick="onClickNewEmployee()"
                      class="btn btn-success btn-block"
                      type="button"
                      data-toggle="modal"
                      data-target="#user-form-modal">
                      New Employee
                    </button>
                  </div>
                  <hr class="my-3" />
                  <div class="e-navlist e-navlist--active-bold">
                    <ul class="nav">
                      <li class="nav-item active">
                        <a href="" class="nav-link"
                          ><span>All</span>&nbsp;<small>/&nbsp;32</small></a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><span>Active</span>&nbsp;<small>/&nbsp;16</small></a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link"
                          ><span>Selected</span>&nbsp;<small>/&nbsp;0</small></a
                        >
                      </li>
                    </ul>
                  </div>
                  <hr class="my-3" />
                  <div>
                    <div class="form-group">
                      <label>Date from - to:</label>
                      <div>
                        <input
                          id="dates-range"
                          class="form-control flatpickr-input"
                          placeholder="01 Dec 17 - 27 Jan 18"
                          type="text"
                          readonly="readonly"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Search by Name:</label>
                      <div>
                        <input
                          class="form-control w-100"
                          type="text"
                          placeholder="Name"
                          value=""
                        />
                      </div>
                    </div>
                  </div>
                  <hr class="my-3" />
                  <div class="">
                    <label>Status:</label>
                    <div class="px-2">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="user-status"
                          id="users-status-disabled"
                        />
                        <label
                          class="custom-control-label"
                          for="users-status-disabled"
                          >Disabled</label
                        >
                      </div>
                    </div>
                    <div class="px-2">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="user-status"
                          id="users-status-active"
                        />
                        <label
                          class="custom-control-label"
                          for="users-status-active"
                          >Active</label
                        >
                      </div>
                    </div>
                    <div class="px-2">
                      <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input"
                          name="user-status"
                          id="users-status-any"
                          checked=""
                        />
                        <label
                          class="custom-control-label"
                          for="users-status-any"
                          >Any</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            @*role="dialog"*@
            tabindex="-1"
            id="user-form-modal"
          >
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-title"></h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="py-1">
                    <div class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Full Name</label>
                                <input
                                  id="fullName"
                                  class="form-control"
                                  type="text"
                                  placeholder="Ex: Marcus"
                                />
                              </div>
                              <label id="fullName-warning" style="color :red">Full Name is required!</label>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Date Of Birth</label>
                                <input class="form-control"
                                       type="datetime-local" 
                                       id="dateOfBirth" />
                              </div>
                              <label id="date-warning" style="color :red">Date of birth is required!</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input
                                  id="email"
                                  class="form-control"
                                  type="text"
                                  placeholder="marcus@example.com"
                                />
                              </div>
                              <label id="email-warning" style="color :red">Email is required!</label>
                              <label id="email-invalid-warning" style="color :red">Email is invalid!</label>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Age</label>
                                <input
                                  id="age"
                                  class="form-control"
                                  type="number"
                                />
                              </div>
                              <label id="age-warning" style="color :red">Age must greater than 0!</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" onclick="onSave()">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<style type="text/css">
      body {
        margin-top: 20px;
        background: #f8f8f8;
      }
      .container{
        width : 100%;
        max-width : 100% !important;
      }
</style>
<script type="text/javascript">
let url = "http://localhost:25523/api/employee";
let selectedEmployees = [];

let editedEmployeeId = 0;
let isEdit = false;

window.onload = function () {
    console.log('Loading employees...');
    resetWarning();
    loadEmployees();
};

function onClickEditEmployee(id, fullName, email, dateOfBirth, age) {
    isEdit = true;
    editedEmployeeId = id;
    $('#modal-title').text("Edit "+ fullName);
    $('#fullName').val(fullName);
    $('#email').val(email);
    $('#dateOfBirth').val(dateOfBirth);
    $('#age').val(age);
}

function onClickNewEmployee(employee) {
    isEdit = false;
    editedEmployeeId = 0;
    $('#modal-title').text("New Employee");
    $('#fullName').val("");
    $('#email').val("");
    $('#dateOfBirth').val("");
    $('#age').val(0);
}

function editEmployee() {
    const errors = validate();
    if(errors > 0){
        return;
    }
    let newEmployee = {
        id: editedEmployeeId,
        fullName: $('#fullName').val(),
        email: $('#email').val(),
        dateOfBirth: $('#dateOfBirth').val(),
        age: $('#age').val(),
    }
     $.ajax({
     url: url,
     headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json'
     },
     type: 'PUT',
     data: JSON.stringify(newEmployee),
     success: function (response) {
          resetWarning();
          $('#modal-controller').click();
          $('#' + editedEmployeeId).replaceWith(renderNewEmployee(newEmployee.id,newEmployee.fullName,newEmployee.email,newEmployee.dateOfBirth,newEmployee.age))
     },
     error: function (jqXHR,text,error) {
         let errors = JSON.parse(jqXHR.responseText);
         if(errors[0] === "Email is invalid"){
                $('#email-invalid-warning').show();
         }
     }
     });
}

function addEmployee() {
    const errors = validate();
    if(errors > 0){
        return;
    }
    let newEmployee = {
        fullName: $('#fullName').val(),
        email: $('#email').val(),
        dateOfBirth: $('#dateOfBirth').val(),
        age: $('#age').val(),
    }

    $.ajax({
        url: url,
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        type: 'POST',
        data: JSON.stringify(newEmployee),
        dataType: 'json',
        success: function (response) {
            resetWarning();
            $('#modal-controller').click();
            $('#employee-list').append(renderNewEmployee(response.id, response.fullName, response.email, response.dateOfBirth, response.age));
        },
        error : function(jqXHR,text,error){
            let errors = JSON.parse(jqXHR.responseText);
            if(errors[0] === "Email is invalid"){
                $('#email-invalid-warning').show();
            }
        }
    });
}

function onSave() {
    resetWarning();
    if (isEdit) {
        editEmployee();
    } else {
        addEmployee();
    }
}

function deleteEmployee(employeeId) {
    $.ajax({
        url: url + '/' + employeeId,
        type: 'DELETE',
        success: function (response) {
            $('#' + employeeId.toString()).remove();
        },
    })
}

function renderNewEmployee(id, fullName, email, dateOfBirth, age) {
    var removedZDate = dateOfBirth.replace('Z','');
    var date = new Date(dateOfBirth);
            var dateOfBirthFormat = ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + date.getFullYear();
    //var dateOfBirthFormatMoment = moment(dateOfBirth).format('L');
    return "<tr id=\"" + id + "\">" +
        "<td class=\"align-middle\">" +
        "<div class=\"bg-light d-inline-flex align-items-center align-top\" " +
        "style=\"width: 100%; height: 35px; border-radius: 3px\">" + fullName + "</div>" +
        "</td>" +
        "<td class=\"text-nowrap align-middle\">" + email + "</td>" +
        "<td class=\"text-nowrap align-middle\">" +
        "<span>" + dateOfBirthFormat + "</span>" +
        "</td>" +
        "<td class=\"text-center align-middle\"><span>" + age + "</span></td>" +
        "<td class=\"text-center align-middle\">" +
        "<div class=\"btn-group align-top\">" +
        "<button class=\"btn btn-sm btn-outline-secondary badge\"" +
        "type=\"button\"" +
        "data-toggle=\"modal\" data-target=\"#user-form-modal\"" +
        "onclick=\"onClickEditEmployee(" + `'${id}','${fullName}','${email}','${removedZDate}','${age}'` + ")\">" +
        "Edit" +
        "</button>" +
        "<button class=\"btn btn-sm btn-outline-secondary badge\" onclick=\"deleteEmployee('" + `${id}` + "')\" type=\"button\">" +
        "<i class=\"fa fa-trash\"></i>" +
        "</button>" +
        "</div>" +
        "</td>" +
        "</tr>";
}

function loadEmployees(){
        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                for(var i = 0; i < response.length ; i ++){
                    $('#employee-list').append(renderNewEmployee(response[i].id, response[i].fullName, response[i].email, response[i].dateOfBirth, response[i].age));
                }
            },
        })
}

function validate() {
    let countErrors = [];
    if ($('#fullName').val() === "") {
        $('#fullName-warning').show();
        countErrors++;
    }
    if ($('#dateOfBirth').val() === "") {
        $('#date-warning').show();
        countErrors++;
    }
    if ($('#email').val() === "") {
        $('#email-warning').show();
        countErrors++;
    } else {
        //if (ValidateEmail($('#email').val()) === false) {
        //    $('#email-warning').text("Email is invalid!");
        //    $('#email-warning').show();
        //    countErrors++;
        //}
    }
    if ($('#age').val() <= 0) {
        $('#age-warning').show();
        countErrors++;
    }
    return countErrors;
}

function resetWarning() {
    $('#fullName-warning').hide();
    $('#date-warning').hide();
    $('#email-warning').hide();
    $('#age-warning').hide();
    $('#email-invalid-warning').hide();
}
</script>


